{% extends 'base_user_center.html' %}
{% load static %}
{# body主体右侧内容块 #}
{% block right_content %}
    <div class="right_content clearfix">
        <h3 class="common_title2">全部订单</h3>
        {% for order in orders_page %}
            <ul class="order_list_th w978 clearfix">
                <li class="col01">{{ order.create_time }}</li>
                <li class="col02">订单号：{{ order.order_id }}</li>
                <li class="col02 stress">{{ order.order_status_name }}</li>
            </ul>
            <table class="order_list_table w980">
                <tbody>
                <tr>
                    <td width="55%">
                        {% for order_goods in order.order_goods_list %}
                            <ul class="order_goods_list clearfix">
                                <li class="col01"><img src="{{ order_goods.sku.image.url }}"></li>
                                <li class="col02">{{ order_goods.sku.name }}<em>{{ order_goods.sku.price }}元/{{ order_goods.sku.unite }}</em>
                                </li>
                                <li class="col03">{{ order_goods.count }}</li>
                                <li class="col04">{{ order_goods.amount }}元</li>
                            </ul>
                        {% empty %}
                            没有相关商品信息
                        {% endfor %}
                    </td>
                    <td width="15%">
                        合计：{{ order.total_cost }}元
                        <br/>
                        (含运费：{{ order.transit_price }}元)
                    </td>
                    <td width="15%">
                        {{ order.order_status_name }}
                    </td>
                    <td width="15%">
                        <a href="#" class="oper_btn" status="{{ order.order_status }}" order_id="{{ order.order_id }}">
                            {% if order.order_status == 1 %}
                                去付款
                            {% elif order.order_status == 2 %}
                                提醒发货
                            {% elif order.order_status == 3 %}
                                确认收货
                            {% elif order.order_status == 4 %}
                                去评价
                            {% elif order.order_status == 5 %}
                                再次购买
                            {% endif %}
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        {% empty %}
            没有相关订单信息
        {% endfor %}

        {# 页码区域 #}
        {% if is_have_order %}
            <div class="pagenation">
                {% if orders_page.has_previous %}
                    <a href="{% url 'user:order' orders_page.previous_page_number %}">
                        <上一页
                    </a>
                {% else %}
                    <a href="#">
                        <没有了
                    </a>
                {% endif %}
                {% for pindex in pages %}
                    {% if pindex == orders_page.number %}
                        <a href="#" class="active">{{ pindex }}</a>
                    {% else %}
                        <a href="{% url 'user:order' pindex %}">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}
                {% if orders_page.has_next %}
                    <a href="{% url 'user:order' orders_page.next_page_number %}">下一页></a>
                {% else %}
                    <a href="#">没有了></a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock right_content %}
{% block bottomfiles %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript">
        $('.oper_btn').click(function () {
            // 获取status
            status = $(this).attr('status')
            order_id = $(this).attr('order_id')
            // 组织参数 注意csrf_token认证
            params = {
                'order_id': order_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            }
            if (status == 1) {
                // 进行支付
                // 获取订单ID
                // 发起ajax post请求，访问/order/pay进行支付， 传递参数order_id
                $.post('{% url 'order:pay' %}', params, function (data) {
                    if (data.res == 1) {
                        // 支付接口请求成功，引导用户到支付页面
                        window.open(data.pay_url)
                        // 浏览器访问/order/pay_check获取支付结果
                        // ajax post 传递参数:order_id
                        $.post('{% url 'order:checkpay' %}', params, function (data) {
                            if (data.res == 1) {
                                alert('支付成功')
                                // 刷新页面
                                location.reload()
                            } else {
                                alert(data.errmsg)
                            }
                        })
                    } else {
                        //失败返回错误信息
                        alert(data.errmsg)
                    }
                })
            } else if (status == 3) {
                // 待收货状态，点击进行收货操作页面
                // 发起ajax post请求, 访问 /cart/update 传递参数：sku_id, count
                $.post('{% url 'order:confirmreceive' %}', params, function (data) {
                    if (data.res == 1) {
                        // 确认收货操作成功
                        alert(data.message)
                        // 刷新页面
                        location.reload()
                    } else {
                        //失败返回错误信息
                        alert(data.errmsg)
                    }
                })
            } else if (status == 4) {
                // 待评论状态，跳转至评论页面
                url = '{% url 'order:comment' 'order_id' %}'.replace('order_id', order_id)
                self.location.href = url
            }
        })
    </script>

{% endblock bottomfiles %}